<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PushVodIngestion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PushVodIngestion.Properties.Settings.dbPushVODConnectionString"
            connectionString="Data Source=192.168.96.211103;Initial Catalog=VMG;Persist Security Info=True;User ID=tsky_ott;Password=tatasky_123;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBinding_IService1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true">
                <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://14.140.112.80/vodService10/service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1" name="BasicHttpBinding_IService1"/>
          <!--<endpoint address="http://localhost:59772/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1" name="BasicHttpBinding_IService1"/>-->
        </client>
      <behaviors>
      <endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
      </behaviors>
    </system.serviceModel>
    <userSettings>
        <PushVodIngestion.Properties.Settings>
            <setting name="ThirdParty" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LiveFeedTXID" serializeAs="String">
                <value>Live Feed</value>
            </setting>
            <setting name="LiveFeedTitle" serializeAs="String">
                <value>Live Feed</value>
            </setting>
        </PushVodIngestion.Properties.Settings>
    </userSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
